*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: rgb(202, 239, 234);
  color: rgb(19, 3, 3);
  font-family: monospace;

  ul {
    display: grid;
    //border: 2px solid rgb(236, 238, 237, 0.6);
    grid-template-columns: 1fr 1fr 1fr;
  }
  li {
    //border: 2px solid rgb(236, 238, 237, 0.6);
    border: radius 10px;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(19, 3, 3);
    padding: 4rem;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  h1 {
    margin-top: 5rem;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 3.5rem;
    text-align: center;
    font-family: times, "Times New Roman";
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1200px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 860px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
//--------Search Button Bar------------
.byline {
  text-align: center;
}
.byline a {
  text-decoration: none;
  color: #ce0000;
}

.searchbox {
  background-color: rgba(237, 244, 240, 0.6);
  padding: 18px;
  width: 50rem;
  margin: 100px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  -moz-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
input[type="search"] {
  width: 46rem;
  height: 4rem;
  padding-left: 15px;
  border-radius: 6px;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #fffbf8;
  -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

// ---------Loading Ani-------------

$w: 30px;
$h: 35px;
$xspace: $w/2;
$yspace: $h/4 - 1;
$speed: 2s;

.tetrominos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-$h, -$w);
}

.tetromino {
  width: $w;
  height: $h;
  position: absolute;
  transition: all ease 0.3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E')
    no-repeat top center;
}

.box1 {
  animation: tetromino1 $speed ease-out infinite;
}

.box2 {
  animation: tetromino2 $speed ease-out infinite;
}

.box3 {
  animation: tetromino3 $speed ease-out infinite;
  z-index: 2;
}

.box4 {
  animation: tetromino4 $speed ease-out infinite;
}

@keyframes tetromino1 {
  0%,
  40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    transform: translate(0, 0);
  }

  50% {
    /* pre-box */
    transform: translate($xspace, -$yspace);
  }

  60%,
  100% {
    /* box */
    /* compose logo */
    transform: translate($xspace * 2, 0);
  }
}

@keyframes tetromino2 {
  0%,
  20% {
    /* compose logo */
    /* 1 on 3 */
    transform: translate($xspace * 2, 0px);
  }

  40%,
  100% {
    /* L-shape */
    /* box */
    /* compose logo */
    transform: translate($xspace * 3, $yspace);
  }
}

@keyframes tetromino3 {
  0% {
    /* compose logo */
    transform: translate($xspace * 3, $yspace);
  }

  20%,
  60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    transform: translate($xspace * 2, $yspace * 2);
  }

  90%,
  100% {
    /* compose logo */
    transform: translate($xspace, $yspace);
  }
}

@keyframes tetromino4 {
  0%,
  60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    transform: translate($xspace, $yspace);
  }

  90%,
  100% {
    /* compose logo */
    transform: translate(0, 0);
  }
}
